@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1d3557;
  --secondary: #457b9d;
  --accent: #e63946;
  --light: #f1faee;
  --dark: #2b2d42;
}

body {
  @apply bg-gray-50;
}

.mermaid {
  background: transparent !important;
}
