# AWS Route 53 Global DNS Configuration for Aeon Chess
# This configuration provides multi-region failover and global load balancing

AWSTemplateFormatVersion: '2010-09-09'
Description: 'Route 53 Global DNS Configuration for Aeon Chess Multi-Region'

Parameters:
  DomainName:
    Type: String
    Default: 'aeonchess.com'
    Description: 'Primary domain name'
  
  PrimaryRegion:
    Type: String
    Default: 'us-east-1'
    Description: 'Primary region for the application'
  
  SecondaryRegion:
    Type: String
    Default: 'eu-west-1'
    Description: 'Secondary region for failover'
  
  HealthCheckPath:
    Type: String
    Default: '/health'
    Description: 'Health check path for the application'

Resources:
  # Hosted Zone (if not exists)
  HostedZone:
    Type: AWS::Route53::HostedZone
    Properties:
      Name: !Ref DomainName
      HostedZoneConfig:
        Comment: 'Aeon Chess Global DNS Zone'
  
  # Health Check for Primary Region
  PrimaryHealthCheck:
    Type: AWS::Route53::HealthCheck
    Properties:
      HealthCheckConfig:
        Type: 'HTTP'
        Port: 443
        ResourcePath: !Ref HealthCheckPath
        FullyQualifiedDomainName: !Sub '${DomainName}'
        RequestInterval: 30
        FailureThreshold: 3
        MeasureLatency: true
        Regions:
          - 'us-east-1'
          - 'us-west-2'
          - 'eu-west-1'
          - 'ap-southeast-1'
  
  # Health Check for Secondary Region
  SecondaryHealthCheck:
    Type: AWS::Route53::HealthCheck
    Properties:
      HealthCheckConfig:
        Type: 'HTTP'
        Port: 443
        ResourcePath: !Ref HealthCheckPath
        FullyQualifiedDomainName: !Sub 'api.${DomainName}'
        RequestInterval: 30
        FailureThreshold: 3
        MeasureLatency: true
        Regions:
          - 'us-east-1'
          - 'us-west-2'
          - 'eu-west-1'
          - 'ap-southeast-1'
  
  # Primary A Record
  PrimaryARecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Ref DomainName
      Type: A
      AliasTarget:
        DNSName: !Sub 'd1234567890.cloudfront.net' # Replace with actual CloudFront distribution
        HostedZoneId: 'Z2FDTNDATAQYW2' # CloudFront hosted zone ID
        EvaluateTargetHealth: true
      HealthCheckId: !Ref PrimaryHealthCheck
      Failover: PRIMARY
      SetIdentifier: 'primary'
  
  # Secondary A Record (Failover)
  SecondaryARecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Ref DomainName
      Type: A
      AliasTarget:
        DNSName: !Sub 'd9876543210.cloudfront.net' # Replace with secondary CloudFront distribution
        HostedZoneId: 'Z2FDTNDATAQYW2' # CloudFront hosted zone ID
        EvaluateTargetHealth: true
      HealthCheckId: !Ref SecondaryHealthCheck
      Failover: SECONDARY
      SetIdentifier: 'secondary'
  
  # WWW CNAME Record
  WWWCNameRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub 'www.${DomainName}'
      Type: CNAME
      TTL: '300'
      ResourceRecords:
        - !Ref DomainName
  
  # API Subdomain
  APIRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub 'api.${DomainName}'
      Type: A
      AliasTarget:
        DNSName: !Sub 'api-${DomainName}.elb.amazonaws.com' # Replace with actual ALB
        HostedZoneId: 'Z35SXDOTRQ7X7K' # ALB hosted zone ID
        EvaluateTargetHealth: true
  
  # Static Assets Subdomain
  StaticRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub 'static.${DomainName}'
      Type: A
      AliasTarget:
        DNSName: !Sub 'static-${DomainName}.s3.amazonaws.com' # Replace with actual S3 bucket
        HostedZoneId: 'Z3AQBSTGFYJSTF' # S3 hosted zone ID
        EvaluateTargetHealth: false
  
  # Grafana Subdomain
  GrafanaRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub 'grafana.${DomainName}'
      Type: A
      AliasTarget:
        DNSName: !Sub 'grafana-${DomainName}.elb.amazonaws.com' # Replace with actual ALB
        HostedZoneId: 'Z35SXDOTRQ7X7K' # ALB hosted zone ID
        EvaluateTargetHealth: true
  
  # MX Record for Email
  MXRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Ref DomainName
      Type: MX
      TTL: '300'
      ResourceRecords:
        - '10 mail.aeonchess.com.'
        - '20 backup-mail.aeonchess.com.'
  
  # TXT Record for SPF
  SPFRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Ref DomainName
      Type: TXT
      TTL: '300'
      ResourceRecords:
        - '"v=spf1 include:_spf.google.com include:_spf.aeonchess.com ~all"'
  
  # TXT Record for DMARC
  DMARCRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub '_dmarc.${DomainName}'
      Type: TXT
      TTL: '300'
      ResourceRecords:
        - '"v=DMARC1; p=quarantine; rua=mailto:dmarc@aeonchess.com; ruf=mailto:dmarc@aeonchess.com; sp=quarantine; adkim=r; aspf=r;"'
  
  # CAA Record for SSL
  CAARecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Ref DomainName
      Type: CAA
      TTL: '300'
      ResourceRecords:
        - '0 issue "letsencrypt.org"'
        - '0 issue "amazontrust.com"'
        - '0 issue "amazonglobal.com"'
  
  # NS Records for Subdomains
  NSRecords:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub 'ns1.${DomainName}'
      Type: NS
      TTL: '300'
      ResourceRecords:
        - !GetAtt HostedZone.NameServers.0
        - !GetAtt HostedZone.NameServers.1
        - !GetAtt HostedZone.NameServers.2
        - !GetAtt HostedZone.NameServers.3

Outputs:
  HostedZoneId:
    Description: 'Hosted Zone ID'
    Value: !Ref HostedZone
    Export:
      Name: !Sub '${AWS::StackName}-HostedZoneId'
  
  NameServers:
    Description: 'Name Servers for the domain'
    Value: !Join [',', !GetAtt HostedZone.NameServers]
    Export:
      Name: !Sub '${AWS::StackName}-NameServers'
  
  PrimaryHealthCheckId:
    Description: 'Primary Health Check ID'
    Value: !Ref PrimaryHealthCheck
    Export:
      Name: !Sub '${AWS::StackName}-PrimaryHealthCheckId'
  
  SecondaryHealthCheckId:
    Description: 'Secondary Health Check ID'
    Value: !Ref SecondaryHealthCheck
    Export:
      Name: !Sub '${AWS::StackName}-SecondaryHealthCheckId'
