# AWS Route 53 Global DNS Configuration for Aeon Chess
# This configuration provides multi-region failover and global load balancing

AWSTemplateFormatVersion: '2010-09-09'
Description: 'Route 53 DNS Configuration for AEON Chess Multi-Region'

Parameters:
  DomainName:
    Type: String
    Default: 'aeonchess.com'
    Description: 'Primary domain name'
  
  PrimaryRegion:
    Type: String
    Default: 'us-east-1'
    Description: 'Primary region for the application'
  
  SecondaryRegion:
    Type: String
    Default: 'eu-west-1'
    Description: 'Secondary region for failover'
  
  CloudFrontDistributionId:
    Type: String
    Description: 'CloudFront Distribution ID from CDN stack'
  
  LoadBalancerDNSName:
    Type: String
    Description: 'Primary region load balancer DNS name'
  
  SecondaryLoadBalancerDNSName:
    Type: String
    Description: 'Secondary region load balancer DNS name'

Resources:
  # Hosted Zone (if not exists)
  HostedZone:
    Type: AWS::Route53::HostedZone
    Properties:
      Name: !Ref DomainName
      HostedZoneConfig:
        Comment: 'AEON Chess application hosted zone'
  
  # SSL Certificate
  SSLCertificate:
    Type: AWS::CertificateManager::Certificate
    Properties:
      DomainName: !Ref DomainName
      SubjectAlternativeNames:
        - !Sub '*.${DomainName}'
        - !Sub 'www.${DomainName}'
        - !Sub 'api.${DomainName}'
        - !Sub 'static.${DomainName}'
        - !Sub 'cdn.${DomainName}'
      ValidationMethod: DNS
      DomainValidationOptions:
        - DomainName: !Ref DomainName
          HostedZoneId: !Ref HostedZone
        - DomainName: !Sub '*.${DomainName}'
          HostedZoneId: !Ref HostedZone
  
  # Main A Record (CloudFront)
  MainARecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Ref DomainName
      Type: A
      AliasTarget:
        DNSName: !Sub '${CloudFrontDistributionId}.cloudfront.net'
        HostedZoneId: Z2FDTNDATAQYW2  # CloudFront hosted zone ID
        EvaluateTargetHealth: false
  
  # www CNAME Record
  WWWCNameRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub 'www.${DomainName}'
      Type: CNAME
      TTL: '300'
      ResourceRecords:
        - !Ref DomainName
  
  # API Subdomain
  APISubdomainRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub 'api.${DomainName}'
      Type: A
      AliasTarget:
        DNSName: !Ref LoadBalancerDNSName
        HostedZoneId: !GetAtt LoadBalancer.CanonicalHostedZoneID
        EvaluateTargetHealth: true
  
  # Static Assets Subdomain
  StaticSubdomainRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub 'static.${DomainName}'
      Type: A
      AliasTarget:
        DNSName: !Ref LoadBalancerDNSName
        HostedZoneId: !GetAtt LoadBalancer.CanonicalHostedZoneID
        EvaluateTargetHealth: true
  
  # CDN Subdomain
  CDNSubdomainRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub 'cdn.${DomainName}'
      Type: A
      AliasTarget:
        DNSName: !Sub '${CloudFrontDistributionId}.cloudfront.net'
        HostedZoneId: Z2FDTNDATAQYW2
        EvaluateTargetHealth: false
  
  # MX Record for Email
  MXRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Ref DomainName
      Type: MX
      TTL: '300'
      ResourceRecords:
        - '10 mail.aeonchess.com'
        - '20 backup-mail.aeonchess.com'
  
  # TXT Record for SPF
  SPFRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Ref DomainName
      Type: TXT
      TTL: '300'
      ResourceRecords:
        - '"v=spf1 include:_spf.aeonchess.com ~all"'
  
  # TXT Record for DMARC
  DMARCRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub '_dmarc.${DomainName}'
      Type: TXT
      TTL: '300'
      ResourceRecords:
        - '"v=DMARC1; p=quarantine; rua=mailto:dmarc@aeonchess.com; ruf=mailto:dmarc@aeonchess.com; sp=quarantine; adkim=r; aspf=r;"'
  
  # CAA Record for SSL
  CAARecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Ref DomainName
      Type: CAA
      TTL: '300'
      ResourceRecords:
        - '0 issue "letsencrypt.org"'
        - '0 issue "amazontrust.com"'
        - '0 issue "amazonglobal.com"'
  
  # Health Check for Primary Region
  PrimaryHealthCheck:
    Type: AWS::Route53::HealthCheck
    Properties:
      HealthCheckConfig:
        Type: HTTP
        Port: 80
        ResourcePath: '/health'
        FullyQualifiedDomainName: !Ref LoadBalancerDNSName
        RequestInterval: 30
        FailureThreshold: 3
        HealthThreshold: 3
        MeasureLatency: true
        Inverted: false
        EnableSNI: false
        Regions:
          - us-east-1
          - us-west-2
          - eu-west-1
  
  # Health Check for Secondary Region
  SecondaryHealthCheck:
    Type: AWS::Route53::HealthCheck
    Properties:
      HealthCheckConfig:
        Type: HTTP
        Port: 80
        ResourcePath: '/health'
        FullyQualifiedDomainName: !Ref SecondaryLoadBalancerDNSName
        RequestInterval: 30
        FailureThreshold: 3
        HealthThreshold: 3
        MeasureLatency: true
        Inverted: false
        EnableSNI: false
        Regions:
          - us-east-1
          - us-west-2
          - eu-west-1
  
  # Failover Record Set for Primary Region
  PrimaryFailoverRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub 'app.${DomainName}'
      Type: A
      Failover: PRIMARY
      HealthCheckId: !Ref PrimaryHealthCheck
      AliasTarget:
        DNSName: !Ref LoadBalancerDNSName
        HostedZoneId: !GetAtt LoadBalancer.CanonicalHostedZoneID
        EvaluateTargetHealth: true
  
  # Failover Record Set for Secondary Region
  SecondaryFailoverRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZone
      Name: !Sub 'app.${DomainName}'
      Type: A
      Failover: SECONDARY
      HealthCheckId: !Ref SecondaryHealthCheck
      AliasTarget:
        DNSName: !Ref SecondaryLoadBalancerDNSName
        HostedZoneId: !GetAtt SecondaryLoadBalancer.CanonicalHostedZoneID
        EvaluateTargetHealth: true
  
  # Load Balancer (Primary Region)
  LoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Name: !Sub 'aeon-chess-lb-${PrimaryRegion}'
      Scheme: internet-facing
      Type: application
      IpAddressType: dualstack
      Subnets:
        - subnet-12345678  # Replace with actual subnet IDs
        - subnet-87654321
      SecurityGroups:
        - sg-12345678  # Replace with actual security group IDs
      LoadBalancerAttributes:
        - Key: idle_timeout.timeout_seconds
          Value: '60'
        - Key: access_logs.s3.enabled
          Value: 'true'
        - Key: access_logs.s3.bucket
          Value: !Sub '${DomainName}-logs'
        - Key: access_logs.s3.prefix
          Value: 'alb/primary'
  
  # Secondary Load Balancer (Secondary Region)
  SecondaryLoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Name: !Sub 'aeon-chess-lb-${SecondaryRegion}'
      Scheme: internet-facing
      Type: application
      IpAddressType: dualstack
      Subnets:
        - subnet-abcdef12  # Replace with actual subnet IDs
        - subnet-21fedcba
      SecurityGroups:
        - sg-87654321  # Replace with actual security group IDs
      LoadBalancerAttributes:
        - Key: idle_timeout.timeout_seconds
          Value: '60'
        - Key: access_logs.s3.enabled
          Value: 'true'
        - Key: access_logs.s3.bucket
          Value: !Sub '${DomainName}-logs'
        - Key: access_logs.s3.prefix
          Value: 'alb/secondary'

Outputs:
  HostedZoneId:
    Description: 'Route 53 Hosted Zone ID'
    Value: !Ref HostedZone
    Export:
      Name: !Sub '${AWS::StackName}-HostedZoneId'
  
  CertificateArn:
    Description: 'SSL Certificate ARN'
    Value: !Ref SSLCertificate
    Export:
      Name: !Sub '${AWS::StackName}-CertificateArn'
  
  PrimaryLoadBalancerDNS:
    Description: 'Primary region load balancer DNS name'
    Value: !GetAtt LoadBalancer.DNSName
    Export:
      Name: !Sub '${AWS::StackName}-PrimaryLoadBalancerDNS'
  
  SecondaryLoadBalancerDNS:
    Description: 'Secondary region load balancer DNS name'
    Value: !GetAtt SecondaryLoadBalancer.DNSName
    Export:
      Name: !Sub '${AWS::StackName}-SecondaryLoadBalancerDNS'
  
  DomainName:
    Description: 'Primary domain name'
    Value: !Ref DomainName
    Export:
      Name: !Sub '${AWS::StackName}-DomainName'
